.paginate-links{
    width:100%;
    list-style: none;
    text-align: right;
    margin-top: 10px;
}
.paginate-links li {
    display: inline;
    background-color:#C9E5F1 ;
    color:black;
    padding:10px;
    margin-left:3px;
    margin-right: 3px;
    border-radius: 3px;
}

.paginate-links a {
    cursor:pointer;
}

.paginate-links li.active{
    background-color: brown;
}

.paginate-links li.active a{
    cursor: default;
}

.paginate-links li.disabled{
    background-color: darkblue;
}

.paginate-links li.disabled a{
    cursor: default;
}


